#container{
    width: 750px;
    margin: 0 auto;
}

#topo{
    height: 150px;
    background: url(../images/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo{
    width: 152px;
    height: 66px;
    background: url(../images/logo.png) no-repeat center;
    text-indent: -3000px;
}

ul{
    list-style-type: none;
}

#topo ul{
    margin-top: 30px;
    background-color: #B10333;
    float: left;
}

#topo ul li{
    float: left;
}

#topo ul li a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    border-left: 2px solid #9b042f;
    color: #fff;
}

#topo ul li:first-of-type a{
    border: none;
}

#topo ul li a:hover{
    color: #69001D;
}

body.home #navegacao a#home{
    color: #FFF;
    background-color: #DE003E;
    cursor: text;
}

#conteudo{
    margin-top: 60px;
    background-color: #F5F5F5;
}

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}


#primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

img{
    border: 2px solid #DFDFDF;
}

img.imagem-principal{
    width: 98%;
    border: 3px solid #DFDFDF;
}

h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3{
    background-color: #B10333;
    color: #fff;
}

#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #CCC;
    height: 65px;
}

#lista-noticias li:hover{
    background-color: #EEE;
    cursor: pointer;
}

#lista-noticias li a{
    text-decoration: none;
}

#lista-noticias li a h3{
    padding: 0;
    font-size: 0.8em;
    color: #3e7ab9;
}

#lista-noticias li a p{
    font-size: 0.6em;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;
}

#duas-colunas #primario{
    width: 555px;
}

#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;
}

#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

.entrevista h3{
    background-color: #DE003E;
}

.caixa{
    margin: 10px 0;
    padding: 5px;
    background: #F3F3F3 url(../images/fundo-caixa.png);
}

h2{
    font-size: 1.1em;
    background-color: #294C71;
    color: #FFF;
    padding: 5px;
}

.caixa-conteudo{
    background-color: #FFF;
    padding: 5px;
    margin-top: 5px;
}

#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #F3F3F3;
}

#lateral ul a:hover{
    background: #F9F9F9 url(../images/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

label{
    display: block;
    cursor: pointer;
}

input{
    font-size: 0.9em;
    background-color: #fff;
    padding: 5px;
    width: 125px;
}

input[type="email"]{
    outline: none;
}

input[type="submit"]{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    bottom: 2px solid #870529;
    cursor: pointer;
    margin-top: 5px;
}

.clear{
    clear: both;
}